<app-navbars></app-navbars>


<div class="container">
    <div class="row mb-5 ">
        <div class="col d-flex justify-content-center">
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Película">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <p class="text-center h3">Películas</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Lorem</th>
                        <th scope="col">Lorem</th>
                        <th scope="col">Lorem</th>
                        <th scope="col">Lorem</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>