<app-navbars></app-navbars>

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm">
            <app-form></app-form>
        </div>
        <div class="col-sm">
            <app-precio></app-precio>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm">
            <app-cliente></app-cliente>
        </div>
        <div class="col-sm">
            <app-movies></app-movies>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-sm">
            <app-cupones></app-cupones>
        </div>
        <div class="col-sm">
            <app-nota></app-nota>
        </div>
    </div>
</div>