<div class="table-responsive">
    <p class="text-center h3">Películas</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Lorem</th>
                <th scope="col">Lorem</th>
                <th scope="col">Lorem</th>
                <th scope="col">Lorem</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">Default</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr>
                <th scope="row">Default</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr>
                <th scope="row">Default</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>
            <tr>
                <th scope="row">Default</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
            </tr>

        </tbody>
    </table>
</div>
<app-boton></app-boton>